# Ignorar la carpeta con las imágenes de entrada
bmps/

# Ignorar la carpeta con las imágenes procesadas
img_res/

imagenes/

# Ignorar cualquier otra carpeta de imágenes
pngs/

# Ignorar archivos temporales del sistema
.DS_Store

# Ignorar archivos compilados
*.o
*.out
*.exe